In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import roc_auc_score, plot_roc_curve

In [2]:
crash_df = pd.read_csv('data/Traffic_Crashes_-_Crashes.csv')

In [3]:
crash_df

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,0001dc2c34878baec9b7223e7ead101e0487e2e994c977...,JF221668,NaN,04/27/2022 09:30:00 AM,20,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,ANGLE,...,1.0,0.0,2.0,0.0,9,4,4,41.926951,-87.661559,POINT (-87.661558949813 41.926951230142)
1,00554edcbf68c6eb4d438e92ce71a593e858971fd885a4...,JF228356,NaN,05/03/2022 06:40:00 AM,15,OTHER REG. SIGN,FUNCTIONING PROPERLY,RAIN,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,...,0.0,0.0,5.0,0.0,6,3,5,41.927526,-87.765423,POINT (-87.765422741103 41.927525861297)
2,01143c127253f877ec850422012fae34b6b0e58bf678ae...,JD337690,NaN,08/19/2020 09:30:00 AM,25,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,ANGLE,...,0.0,0.0,2.0,0.0,9,4,8,41.932352,-87.688045,POINT (-87.688044974908 41.932351848527)
3,00bf78dfa54ff84306859dc5d220341f1891eaf5fcf6a6...,JF213955,NaN,04/20/2022 04:32:00 PM,15,OTHER,OTHER,CLEAR,DAYLIGHT,REAR TO FRONT,...,0.0,0.0,2.0,0.0,16,4,4,41.794998,-87.622620,POINT (-87.622620128003 41.794997895717)
4,0161c604b1fd2e187d5f4239be87a8b2d8be36b193f01b...,JF221562,Y,04/27/2022 07:00:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,...,0.0,0.0,1.0,0.0,7,4,4,41.752961,-87.550746,POINT (-87.550746027529 41.752960600041)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617341,8f081a009f98c6fe3ffa5968b81d24607b38ef78da4838...,JF224470,NaN,04/29/2022 04:25:00 PM,30,TRAFFIC SIGNAL,UNKNOWN,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,3.0,0.0,16,6,4,41.876198,-87.686155,POINT (-87.686155352745 41.876198079481)
617342,a990787c46a181e9611488f24a7e8453931c9d9057206f...,JF230804,NaN,05/01/2022 09:00:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLOUDY/OVERCAST,DAYLIGHT,REAR END,...,0.0,0.0,2.0,0.0,9,1,5,41.980961,-87.839166,POINT (-87.839165640216 41.980961196676)
617343,cf0c350753ba62e99a06f77de5947b775b9e55917bd66b...,JF230794,NaN,05/05/2022 07:27:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,0.0,0.0,3.0,0.0,7,5,5,41.814837,-87.743501,POINT (-87.743501480634 41.81483675036)
617344,d33181def1c0c3a57ecabef00a109440b361c01fb392bf...,JF230806,NaN,05/05/2022 07:40:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,0.0,0.0,2.0,0.0,7,5,5,41.707680,-87.584816,POINT (-87.584816108862 41.707680407853)
617345,ed89460623860d25ddd9dcb74226b8f691f9392d81f19f...,JF230904,NaN,05/05/2022 09:09:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,2.0,0.0,9,5,5,41.828031,-87.704404,POINT (-87.704404266656 41.828030834763)

In [4]:
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617346 entries, 0 to 617345
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                617346 non-null  object
 1   RD_NO                          613078 non-null  object
 2   CRASH_DATE_EST_I               46685 non-null   object
 3   CRASH_DATE                     617346 non-null  object
 4   POSTED_SPEED_LIMIT             617346 non-null  int64
 5   TRAFFIC_CONTROL_DEVICE         617346 non-null  object
 6   DEVICE_CONDITION               617346 non-null  object
 7   WEATHER_CONDITION              617346 non-null  object
 8   LIGHTING_CONDITION             617346 non-null  object
 9   FIRST_CRASH_TYPE               617346 non-null  object
 10  TRAFFICWAY_TYPE                617346 non-null  object
 11  LANE_CNT                       198984 non-null  float64
 12  ALIGNMENT                      617346 non-null  object
 13  ROADWAY_SURFACE_COND           617346 non-null  object
 14  ROAD_DEFECT                    617346 non-null  object
 15  REPORT_TYPE                    601282 non-null  object
 16  CRASH_TYPE                     617346 non-null  object
 17  INTERSECTION_RELATED_I         141110 non-null  object
 18  NOT_RIGHT_OF_WAY_I             29078 non-null   object
 19  HIT_AND_RUN_I                  189199 non-null  object
 20  DAMAGE                         617346 non-null  object
 21  DATE_POLICE_NOTIFIED           617346 non-null  object
 22  PRIM_CONTRIBUTORY_CAUSE        617346 non-null  object
 23  SEC_CONTRIBUTORY_CAUSE         617346 non-null  object
 24  STREET_NO                      617346 non-null  int64
 25  STREET_DIRECTION               617342 non-null  object
 26  STREET_NAME                    617345 non-null  object
 27  BEAT_OF_OCCURRENCE             617341 non-null  float64
 28  PHOTOS_TAKEN_I                 7579 non-null    object
 29  STATEMENTS_TAKEN_I             12550 non-null   object
 30  DOORING_I                      1920 non-null    object
 31  WORK_ZONE_I                    3713 non-null    object
 32  WORK_ZONE_TYPE                 2920 non-null    object
 33  WORKERS_PRESENT_I              937 non-null     object
 34  NUM_UNITS                      617346 non-null  int64
 35  MOST_SEVERE_INJURY             616056 non-null  object
 36  INJURIES_TOTAL                 616067 non-null  float64
 37  INJURIES_FATAL                 616067 non-null  float64
 38  INJURIES_INCAPACITATING        616067 non-null  float64
 39  INJURIES_NON_INCAPACITATING    616067 non-null  float64
 40  INJURIES_REPORTED_NOT_EVIDENT  616067 non-null  float64
 41  INJURIES_NO_INDICATION         616067 non-null  float64
 42  INJURIES_UNKNOWN               616067 non-null  float64
 43  CRASH_HOUR                     617346 non-null  int64
 44  CRASH_DAY_OF_WEEK              617346 non-null  int64
 45  CRASH_MONTH                    617346 non-null  int64
 46  LATITUDE                       613604 non-null  float64
 47  LONGITUDE                      613604 non-null  float64
 48  LOCATION                       613604 non-null  object
dtypes: float64(11), int64(6), object(32)
memory usage: 230.8+ MB

In [5]:
crash_df.describe()

,POSTED_SPEED_LIMIT,LANE_CNT,STREET_NO,BEAT_OF_OCCURRENCE,NUM_UNITS,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE
count,617346.000000,1.989840e+05,617346.000000,617341.000000,617346.000000,616067.000000,616067.000000,616067.000000,616067.000000,616067.000000,616067.000000,616067.0,617346.000000,617346.000000,617346.000000,613604.000000,613604.000000
mean,28.346645,1.333148e+01,3678.675046,1238.055031,2.034235,0.182629,0.001156,0.019678,0.102456,0.059339,2.012385,0.0,13.223039,4.127933,6.596502,41.854468,-87.673255
std,6.329037,2.961787e+03,2903.917903,705.722836,0.450624,0.554216,0.036907,0.163796,0.412342,0.312482,1.161061,0.0,5.537447,1.979825,3.450357,0.331937,0.674144
min,0.000000,0.000000e+00,0.000000,111.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,0.000000,-87.936193
25%,30.000000,2.000000e+00,1230.000000,712.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,9.000000,2.000000,4.000000,41.780960,-87.721366
50%,30.000000,2.000000e+00,3200.000000,1135.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.0,14.000000,4.000000,7.000000,41.874571,-87.673567
75%,30.000000,4.000000e+00,5600.000000,1822.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.0,17.000000,6.000000,10.000000,41.923961,-87.632862
max,99.000000,1.191625e+06,451100.000000,6100.000000,18.000000,21.000000,4.000000,7.000000,21.000000,15.000000,61.000000,0.0,23.000000,7.000000,12.000000,42.022780,0.000000

In [6]:
crash_df.drop(['RD_NO', 'LANE_CNT', 'CRASH_DATE_EST_I','TRAFFICWAY_TYPE','ALIGNMENT','ROAD_DEFECT','REPORT_TYPE','DATE_POLICE_NOTIFIED','STREET_NO','STREET_DIRECTION','STREET_NAME','PHOTOS_TAKEN_I','STATEMENTS_TAKEN_I','DOORING_I','WORK_ZONE_I','BEAT_OF_OCCURRENCE','WORK_ZONE_TYPE','WORKERS_PRESENT_I','INJURIES_TOTAL','INJURIES_FATAL','INJURIES_REPORTED_NOT_EVIDENT','INJURIES_NON_INCAPACITATING','INJURIES_NO_INDICATION','INJURIES_UNKNOWN','LATITUDE','LONGITUDE','LOCATION'], axis=1, inplace=True)

In [7]:
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617346 entries, 0 to 617345
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CRASH_RECORD_ID          617346 non-null  object
 1   CRASH_DATE               617346 non-null  object
 2   POSTED_SPEED_LIMIT       617346 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE   617346 non-null  object
 4   DEVICE_CONDITION         617346 non-null  object
 5   WEATHER_CONDITION        617346 non-null  object
 6   LIGHTING_CONDITION       617346 non-null  object
 7   FIRST_CRASH_TYPE         617346 non-null  object
 8   ROADWAY_SURFACE_COND     617346 non-null  object
 9   CRASH_TYPE               617346 non-null  object
 10  INTERSECTION_RELATED_I   141110 non-null  object
 11  NOT_RIGHT_OF_WAY_I       29078 non-null   object
 12  HIT_AND_RUN_I            189199 non-null  object
 13  DAMAGE                   617346 non-null  object
 14  PRIM_CONTRIBUTORY_CAUSE  617346 non-null  object
 15  SEC_CONTRIBUTORY_CAUSE   617346 non-null  object
 16  NUM_UNITS                617346 non-null  int64
 17  MOST_SEVERE_INJURY       616056 non-null  object
 18  INJURIES_INCAPACITATING  616067 non-null  float64
 19  CRASH_HOUR               617346 non-null  int64
 20  CRASH_DAY_OF_WEEK        617346 non-null  int64
 21  CRASH_MONTH              617346 non-null  int64
dtypes: float64(1), int64(5), object(16)
memory usage: 103.6+ MB

In [8]:
crash_df['INTERSECTION_RELATED_I'].value_counts()

Y    134534
N      6576
Name: INTERSECTION_RELATED_I, dtype: int64

In [9]:
crash_df["INTERSECTION_RELATED_I"].fillna("Unknown", inplace=True)

In [10]:
crash_df['NOT_RIGHT_OF_WAY_I'].value_counts()

Y    26485
N     2593
Name: NOT_RIGHT_OF_WAY_I, dtype: int64

In [11]:
crash_df["NOT_RIGHT_OF_WAY_I"].fillna("Unknown", inplace=True)

In [12]:
crash_df['HIT_AND_RUN_I'].value_counts()

Y    181090
N      8109
Name: HIT_AND_RUN_I, dtype: int64

In [13]:
crash_df["HIT_AND_RUN_I"].fillna("Unknown", inplace=True)

In [14]:
crash_df['MOST_SEVERE_INJURY'].value_counts()

NO INDICATION OF INJURY     534028
NONINCAPACITATING INJURY     46010
REPORTED, NOT EVIDENT        25043
INCAPACITATING INJURY        10318
FATAL                          657
Name: MOST_SEVERE_INJURY, dtype: int64

In [15]:
crash_df["MOST_SEVERE_INJURY"].fillna("Unknown", inplace=True)

In [16]:
crash_df['INJURIES_INCAPACITATING'].value_counts()

0.0    605649
1.0      9167
2.0       924
3.0       229
4.0        75
5.0        18
6.0         4
7.0         1
Name: INJURIES_INCAPACITATING, dtype: int64

In [17]:
crash_df.dropna(subset=["INJURIES_INCAPACITATING"], inplace=True)

In [18]:
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 616067 entries, 0 to 617345
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CRASH_RECORD_ID          616067 non-null  object
 1   CRASH_DATE               616067 non-null  object
 2   POSTED_SPEED_LIMIT       616067 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE   616067 non-null  object
 4   DEVICE_CONDITION         616067 non-null  object
 5   WEATHER_CONDITION        616067 non-null  object
 6   LIGHTING_CONDITION       616067 non-null  object
 7   FIRST_CRASH_TYPE         616067 non-null  object
 8   ROADWAY_SURFACE_COND     616067 non-null  object
 9   CRASH_TYPE               616067 non-null  object
 10  INTERSECTION_RELATED_I   616067 non-null  object
 11  NOT_RIGHT_OF_WAY_I       616067 non-null  object
 12  HIT_AND_RUN_I            616067 non-null  object
 13  DAMAGE                   616067 non-null  object
 14  PRIM_CONTRIBUTORY_CAUSE  616067 non-null  object
 15  SEC_CONTRIBUTORY_CAUSE   616067 non-null  object
 16  NUM_UNITS                616067 non-null  int64
 17  MOST_SEVERE_INJURY       616067 non-null  object
 18  INJURIES_INCAPACITATING  616067 non-null  float64
 19  CRASH_HOUR               616067 non-null  int64
 20  CRASH_DAY_OF_WEEK        616067 non-null  int64
 21  CRASH_MONTH              616067 non-null  int64
dtypes: float64(1), int64(5), object(16)
memory usage: 108.1+ MB

In [19]:
people_df = pd.read_csv('data/Traffic_Crashes_-_People.csv')

/Users/bryankeating/miniconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3369: DtypeWarning: Columns (20,24,25,26,29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
people_df

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,HY484534,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10038,DRIVER,c21c476e2ccc41af550b5d858d22aaac4ffc88745a1700...,HY484750,9598.0,11/01/2015 08:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O10039,DRIVER,eb390a4c8e114c69488f5fb8a097fe629f5a92fd528cf4...,HY484778,9600.0,11/01/2015 10:15:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1364191,P99990,PASSENGER,08e2c2aed35f09264a54c593c91dc80faca0617d2cdd10...,JB376587,428377.0,08/02/2018 07:55:00 PM,1.0,CHICAGO,IL,60637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1364192,P99991,PASSENGER,c3ad189bf0a7cae32865757d7dccdbb88f50e393d4a5c1...,JB376601,428382.0,08/02/2018 09:08:00 PM,3.0,CHICAGO,IL,60632,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1364193,P99992,PASSENGER,c3ad189bf0a7cae32865757d7dccdbb88f50e393d4a5c1...,JB376601,428382.0,08/02/2018 09:08:00 PM,4.0,CHICAGO,IL,60632,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1364194,P99993,PASSENGER,fb9080e7f54722699ab60cff184c1cec2abdbb02f80eca...,JB376552,428373.0,08/02/2018 08:30:00 PM,2.0,CHICAGO,IL,60620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1364195,P99994,PASSENGER,ddcffd90cd48a854f0957e08f8c9642c927fa16d78ea86...,JB376509,428386.0,08/02/2018 07:00:00 PM,3.0,NaN,IL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1364196 entries, 0 to 1364195
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1364196 non-null  object
 1   PERSON_TYPE            1364196 non-null  object
 2   CRASH_RECORD_ID        1364196 non-null  object
 3   RD_NO                  1354708 non-null  object
 4   VEHICLE_ID             1337579 non-null  float64
 5   CRASH_DATE             1364196 non-null  object
 6   SEAT_NO                277245 non-null   float64
 7   CITY                   998855 non-null   object
 8   STATE                  1011359 non-null  object
 9   ZIPCODE                912119 non-null   object
 10  SEX                    1343265 non-null  object
 11  AGE                    969194 non-null   float64
 12  DRIVERS_LICENSE_STATE  803477 non-null   object
 13  DRIVERS_LICENSE_CLASS  685008 non-null   object
 14  SAFETY_EQUIPMENT       1360245 non-null  object
 15  AIRBAG_DEPLOYED        1338677 non-null  object
 16  EJECTION               1347622 non-null  object
 17  INJURY_CLASSIFICATION  1363581 non-null  object
 18  HOSPITAL               240512 non-null   object
 19  EMS_AGENCY             150810 non-null   object
 20  EMS_RUN_NO             24734 non-null    object
 21  DRIVER_ACTION          1084432 non-null  object
 22  DRIVER_VISION          1084024 non-null  object
 23  PHYSICAL_CONDITION     1085190 non-null  object
 24  PEDPEDAL_ACTION        25109 non-null    object
 25  PEDPEDAL_VISIBILITY    25056 non-null    object
 26  PEDPEDAL_LOCATION      25107 non-null    object
 27  BAC_RESULT             1085493 non-null  object
 28  BAC_RESULT VALUE       1687 non-null     float64
 29  CELL_PHONE_USE         1157 non-null     object
dtypes: float64(4), object(26)
memory usage: 312.2+ MB

In [22]:
people_df.drop(['RD_NO', 'CRASH_DATE', 'SEAT_NO','CITY','STATE','ZIPCODE','DRIVERS_LICENSE_STATE','DRIVERS_LICENSE_CLASS','EJECTION','INJURY_CLASSIFICATION','HOSPITAL','EMS_AGENCY','EMS_RUN_NO','PEDPEDAL_ACTION','PEDPEDAL_VISIBILITY','PEDPEDAL_LOCATION','BAC_RESULT','BAC_RESULT VALUE','CELL_PHONE_USE'], axis=1, inplace=True)

In [23]:
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1364196 entries, 0 to 1364195
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   PERSON_ID           1364196 non-null  object
 1   PERSON_TYPE         1364196 non-null  object
 2   CRASH_RECORD_ID     1364196 non-null  object
 3   VEHICLE_ID          1337579 non-null  float64
 4   SEX                 1343265 non-null  object
 5   AGE                 969194 non-null   float64
 6   SAFETY_EQUIPMENT    1360245 non-null  object
 7   AIRBAG_DEPLOYED     1338677 non-null  object
 8   DRIVER_ACTION       1084432 non-null  object
 9   DRIVER_VISION       1084024 non-null  object
 10  PHYSICAL_CONDITION  1085190 non-null  object
dtypes: float64(2), object(9)
memory usage: 114.5+ MB

In [24]:
people_df.dropna(subset=["VEHICLE_ID"], inplace=True)

In [25]:
people_df.dropna(subset=["SEX"], inplace=True)

In [26]:
people_df.dropna(subset=["SAFETY_EQUIPMENT"], inplace=True)

In [27]:
people_df.dropna(subset=["AIRBAG_DEPLOYED"], inplace=True)

In [28]:
people_df.dropna(subset=["DRIVER_ACTION"], inplace=True)

In [29]:
people_df.dropna(subset=["DRIVER_VISION"], inplace=True)

In [30]:
people_df.dropna(subset=["PHYSICAL_CONDITION"], inplace=True)

In [31]:
people_df.dropna(subset=["AGE"], inplace=True)

In [32]:
people_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 777348 entries, 0 to 1364184
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PERSON_ID           777348 non-null  object
 1   PERSON_TYPE         777348 non-null  object
 2   CRASH_RECORD_ID     777348 non-null  object
 3   VEHICLE_ID          777348 non-null  float64
 4   SEX                 777348 non-null  object
 5   AGE                 777348 non-null  float64
 6   SAFETY_EQUIPMENT    777348 non-null  object
 7   AIRBAG_DEPLOYED     777348 non-null  object
 8   DRIVER_ACTION       777348 non-null  object
 9   DRIVER_VISION       777348 non-null  object
 10  PHYSICAL_CONDITION  777348 non-null  object
dtypes: float64(2), object(9)
memory usage: 71.2+ MB

In [33]:
car_df = pd.read_csv('data/Traffic_Crashes_-_Vehicles.csv')

/Users/bryankeating/miniconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3369: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [34]:
car_df

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,829999,24ddf9fd8542199d832e1c223cc474e5601b356f1d77a6...,JD124535,01/22/2020 06:25:00 AM,1,DRIVER,NaN,796949.0,NaN,INFINITI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,749947,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,1,DRIVER,NaN,834816.0,NaN,HONDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,749949,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,2,PARKED,NaN,834819.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,749950,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,3,PARKED,NaN,834817.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,871921,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,04/13/2020 10:50:00 PM,2,DRIVER,NaN,827212.0,NaN,BUICK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266481,1333909,b88a3d7be40c7b2e8d4d79cb4c966e0b413c45eb364796...,JF236469,05/01/2022 10:00:00 AM,2,PARKED,NaN,1267163.0,NaN,DODGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1266482,1335502,bf712711d15935ec7ccb6f5b732f9bfab0695bbd8813b1...,JF236950,05/01/2022 03:45:00 AM,1,NON-MOTOR VEHICLE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1266483,1336032,7facac5dd8ec4be374ea2730d385883b1765bb593e8305...,JF226122,05/01/2022 03:00:00 AM,1,DRIVER,NaN,1269184.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1266484,1336033,7facac5dd8ec4be374ea2730d385883b1765bb593e8305...,JF226122,05/01/2022 03:00:00 AM,2,DRIVER,1.0,1269185.0,NaN,KIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1266485,1336228,bf712711d15935ec7ccb6f5b732f9bfab0695bbd8813b1...,JF236950,05/01/2022 03:45:00 AM,2,DRIVER,1.0,1269406.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266486 entries, 0 to 1266485
Data columns (total 72 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1266486 non-null  int64
 1   CRASH_RECORD_ID           1266486 non-null  object
 2   RD_NO                     1257906 non-null  object
 3   CRASH_DATE                1266486 non-null  object
 4   UNIT_NO                   1266486 non-null  int64
 5   UNIT_TYPE                 1264693 non-null  object
 6   NUM_PASSENGERS            188560 non-null   float64
 7   VEHICLE_ID                1237923 non-null  float64
 8   CMRC_VEH_I                23559 non-null    object
 9   MAKE                      1237918 non-null  object
 10  MODEL                     1237774 non-null  object
 11  LIC_PLATE_STATE           1127035 non-null  object
 12  VEHICLE_YEAR              1036014 non-null  float64
 13  VEHICLE_DEFECT            1237923 non-null  object
 14  VEHICLE_TYPE              1237923 non-null  object
 15  VEHICLE_USE               1237923 non-null  object
 16  TRAVEL_DIRECTION          1237923 non-null  object
 17  MANEUVER                  1237923 non-null  object
 18  TOWED_I                   153211 non-null   object
 19  FIRE_I                    1007 non-null     object
 20  OCCUPANT_CNT              1237923 non-null  float64
 21  EXCEED_SPEED_LIMIT_I      2395 non-null     object
 22  TOWED_BY                  113618 non-null   object
 23  TOWED_TO                  70030 non-null    object
 24  AREA_00_I                 45967 non-null    object
 25  AREA_01_I                 333112 non-null   object
 26  AREA_02_I                 206911 non-null   object
 27  AREA_03_I                 120071 non-null   object
 28  AREA_04_I                 122661 non-null   object
 29  AREA_05_I                 189049 non-null   object
 30  AREA_06_I                 194770 non-null   object
 31  AREA_07_I                 173374 non-null   object
 32  AREA_08_I                 195389 non-null   object
 33  AREA_09_I                 69663 non-null    object
 34  AREA_10_I                 100401 non-null   object
 35  AREA_11_I                 197574 non-null   object
 36  AREA_12_I                 195024 non-null   object
 37  AREA_99_I                 137855 non-null   object
 38  FIRST_CONTACT_POINT       1227450 non-null  object
 39  CMV_ID                    13274 non-null    float64
 40  USDOT_NO                  7630 non-null     object
 41  CCMC_NO                   1665 non-null     object
 42  ILCC_NO                   1185 non-null     object
 43  COMMERCIAL_SRC            9145 non-null     object
 44  GVWR                      7609 non-null     object
 45  CARRIER_NAME              12704 non-null    object
 46  CARRIER_STATE             11975 non-null    object
 47  CARRIER_CITY              11762 non-null    object
 48  HAZMAT_PLACARDS_I         260 non-null      object
 49  HAZMAT_NAME               50 non-null       object
 50  UN_NO                     467 non-null      object
 51  HAZMAT_PRESENT_I          9779 non-null     object
 52  HAZMAT_REPORT_I           9482 non-null     object
 53  HAZMAT_REPORT_NO          1 non-null        object
 54  MCS_REPORT_I              9531 non-null     object
 55  MCS_REPORT_NO             6 non-null        object
 56  HAZMAT_VIO_CAUSE_CRASH_I  9630 non-null     object
 57  MCS_VIO_CAUSE_CRASH_I     9456 non-null     object
 58  IDOT_PERMIT_NO            761 non-null      object
 59  WIDE_LOAD_I               114 non-null      object
 60  TRAILER1_WIDTH            2497 non-null     object
 61  TRAILER2_WIDTH            291 non-null      object
 62  TRAILER1_LENGTH           2064 non-null     float64
 63  TRAILER2_LENGTH           55 non-null       float64
 64  TOTAL_VEHICLE_LENGTH      2504 non-null     float64
 65  AXLE_CNT                  3661 non-null     float64
 66  VEHICLE_CONFIG            11052 non-null    object
 67  CARGO_BODY_TYPE           10575 non-null    object
 68  LOAD_TYPE                 10094 non-null    object
 69  HAZMAT_OUT_OF_SERVICE_I   9191 non-null     object
 70  MCS_OUT_OF_SERVICE_I      9435 non-null     object
 71  HAZMAT_CLASS              891 non-null      object
dtypes: float64(9), int64(2), object(61)
memory usage: 695.7+ MB

In [36]:
car_df['UNIT_TYPE'].value_counts()

DRIVER                 1061097
PARKED                  166059
PEDESTRIAN               15575
DRIVERLESS               11268
BICYCLE                   9178
NON-MOTOR VEHICLE         1124
NON-CONTACT VEHICLE        243
DISABLED VEHICLE           143
EQUESTRIAN                   6
Name: UNIT_TYPE, dtype: int64

In [37]:
car_df['VEHICLE_ID'].value_counts()

796949.0     1
714060.0     1
714080.0     1
714048.0     1
714051.0     1
            ..
319815.0     1
319800.0     1
319790.0     1
319792.0     1
1269406.0    1
Name: VEHICLE_ID, Length: 1237923, dtype: int64

In [38]:
clean_car_df = car_df.filter(['CRASH_RECORD_ID','UNIT_TYPE','MAKE','MODEL','VEHICLE_YEAR','VEHICLE_DEFECT','VEHICLE_TYPE','VEHICLE_USE','MANEUVER', 'TOWED_I','EXCEED_SPEED_LIMIT_I'], axis=1)

In [39]:
clean_car_df

,CRASH_RECORD_ID,UNIT_TYPE,MAKE,MODEL,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,MANEUVER,TOWED_I,EXCEED_SPEED_LIMIT_I
0,24ddf9fd8542199d832e1c223cc474e5601b356f1d77a6...,DRIVER,INFINITI,UNKNOWN,2017.0,NONE,PASSENGER,PERSONAL,STRAIGHT AHEAD,NaN,NaN
1,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,DRIVER,HONDA,CIVIC,2016.0,UNKNOWN,PASSENGER,PERSONAL,STRAIGHT AHEAD,NaN,NaN
2,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,PARKED,TOYOTA,YARIS,2010.0,NONE,UNKNOWN/NA,PERSONAL,PARKED,NaN,NaN
3,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,PARKED,GENERAL MOTORS CORPORATION (GMC),SIERRA,2008.0,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,PARKED,NaN,NaN
4,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,DRIVER,BUICK,ENCORE,NaN,NONE,PASSENGER,PERSONAL,STRAIGHT AHEAD,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1266481,b88a3d7be40c7b2e8d4d79cb4c966e0b413c45eb364796...,PARKED,DODGE,GRAND CARAVAN,2013.0,NONE,VAN/MINI-VAN,OTHER,PARKED,NaN,NaN
1266482,bf712711d15935ec7ccb6f5b732f9bfab0695bbd8813b1...,NON-MOTOR VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1266483,7facac5dd8ec4be374ea2730d385883b1765bb593e8305...,DRIVER,FORD,OTHER (EXPLAIN IN NARRATIVE),2009.0,UNKNOWN,PASSENGER,UNKNOWN/NA,STRAIGHT AHEAD,NaN,NaN
1266484,7facac5dd8ec4be374ea2730d385883b1765bb593e8305...,DRIVER,KIA,OTHER (EXPLAIN IN NARRATIVE),2022.0,UNKNOWN,PASSENGER,PERSONAL,STRAIGHT AHEAD,NaN,NaN
1266485,bf712711d15935ec7ccb6f5b732f9bfab0695bbd8813b1...,DRIVER,TOYOTA,SIENNA,2017.0,NONE,PASSENGER,PERSONAL,STRAIGHT AHEAD,N,NaN

In [40]:
clean_car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266486 entries, 0 to 1266485
Data columns (total 11 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   CRASH_RECORD_ID       1266486 non-null  object
 1   UNIT_TYPE             1264693 non-null  object
 2   MAKE                  1237918 non-null  object
 3   MODEL                 1237774 non-null  object
 4   VEHICLE_YEAR          1036014 non-null  float64
 5   VEHICLE_DEFECT        1237923 non-null  object
 6   VEHICLE_TYPE          1237923 non-null  object
 7   VEHICLE_USE           1237923 non-null  object
 8   MANEUVER              1237923 non-null  object
 9   TOWED_I               153211 non-null   object
 10  EXCEED_SPEED_LIMIT_I  2395 non-null     object
dtypes: float64(1), object(10)
memory usage: 106.3+ MB

In [41]:
clean_car_df.dropna(subset=["UNIT_TYPE"], inplace=True)

In [42]:
clean_car_df.dropna(subset=["MAKE"], inplace=True)

In [43]:
clean_car_df.dropna(subset=["MODEL"], inplace=True)

In [44]:
clean_car_df.dropna(subset=["VEHICLE_YEAR"], inplace=True)

In [45]:
clean_car_df.dropna(subset=["VEHICLE_DEFECT"], inplace=True)

In [46]:
clean_car_df.dropna(subset=["VEHICLE_USE"], inplace=True)

In [47]:
clean_car_df.dropna(subset=["MANEUVER"], inplace=True)

In [48]:
clean_car_df["TOWED_I"].fillna("Unknown", inplace=True)

In [49]:
clean_car_df["EXCEED_SPEED_LIMIT_I"].fillna("Unknown", inplace=True)

In [50]:
clean_car_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1035864 entries, 0 to 1266485
Data columns (total 11 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   CRASH_RECORD_ID       1035864 non-null  object
 1   UNIT_TYPE             1035864 non-null  object
 2   MAKE                  1035864 non-null  object
 3   MODEL                 1035864 non-null  object
 4   VEHICLE_YEAR          1035864 non-null  float64
 5   VEHICLE_DEFECT        1035864 non-null  object
 6   VEHICLE_TYPE          1035864 non-null  object
 7   VEHICLE_USE           1035864 non-null  object
 8   MANEUVER              1035864 non-null  object
 9   TOWED_I               1035864 non-null  object
 10  EXCEED_SPEED_LIMIT_I  1035864 non-null  object
dtypes: float64(1), object(10)
memory usage: 94.8+ MB